.navigatorWrapper {
	transition: 0.15s;
	position: sticky;
	top: 0px;
	padding: var(--grid-gap) 14px;
	background-color: var(--color-white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 52px;
	box-sizing: border-box;
	z-index: 9999999999;
}

.expand.navigatorWrapper {
	justify-content: flex-end;
}

.burger {
	width: 24px;
	height: 24px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.dropDown {
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	height: calc(100vh - 64px);
	background-color: var(--color-white);
}

.navigationHolder {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin-top: 40px;
}

.navigatorWrapper > .bold {
	line-height: 15px;
}

.navigationHolder > * {
	margin-bottom: 40px;
	opacity: 0.6;
}

.navigationHolder > *:last-child { margin-bottom: 0px; }

.bold {
	transform: translateY(2px);
}

.navTable > a:hover, .navTable > a.active, .navigationHolder > a.active {
	color: var(--color-teal);
	transition: 0.1s;
	opacity: 1;
}

.bgTeal {
	background-color: var(--color-teal-bg) !important;
}

.bgWine {
	background-color: var(--color-wine-bg) !important;
}

.bgBrown {
	background-color: var(--color-brown-bg) !important;
}

.bgGrey {
	background-color: var(--color-grey) !important;
}