:root {
	--color-darkest			: #35373E;
	--color-darker			: #515357;
	--color-dark			: #696C70;
	--color-secondary		: #81868A;

	--color-teal			: #065471;
	--color-teal-light		: #D5E0E3;
	--color-teal-bright		: #40BAD5;
	--color-teal-bg			: #D6F3FA;

	--color-brown			: #712D06;
	--color-brown-light		: #E3E0D5;
	--color-brown-bright	: #EF9225;
	--color-brown-bg		: #FFF3BB;

	--color-wine			: #9E183E;
	--color-wine-light		: #E3D5D8;
	--color-wine-bright		: #FF5F8F;
	--color-wine-bg			: #FFEBEB;

	--color-neutral			: #5C7A84;
	--color-main-one-light	: #D5E0E3;

	--color-white			: #FFFFFF;
	--color-grey			: #EDEDED;
	--color-black			: #000000;
};
