:root {
	--color-darkest: #35373E;
	--color-darker: #515357;
	--color-dark: #696C70;
	--color-secondary: #81868A;

	--color-main-one: #065471;
	--color-main-two: #40BAD5;
	--color-main-three: #FCBF1E;

	--color-main-one-light: #D5E0E3;
};