.pageWrapper {
	width: var(--grid-page-width);
	margin: 0px auto;
}

:root {
	--grid-count			: 2;
	--grid-gap				: 16px;
	--grid-side-pad			: 16px;
	--grid-page-width		: calc(100vw - calc(var(--grid-gap) * 2));
};

@media screen and (min-width: 1024px) {
	:root {
		--grid-page-width	: 940px;
		--grid-count		: 12;
	};
}