h1, h2, h3, h4, h5 {
	display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: unset;
}

a {
    color: unset;
    text-decoration: unset;
}

body {
	color: var(--color-darkest);
	font-family: Hind, NotoSansTC;
	margin: 0px;
    font-size: var(--font-size-regular);
    line-height: 24px;
}

.capitalize { text-transform: uppercase; }
.bold { font-weight: bold;  }

button {
	appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: unset;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: unset;
    text-align: unset;
    align-items: unset;
    cursor: pointer;
    background-color: unset;
    box-sizing: unset;
    margin: 0px;
    font: unset;
    padding: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
}

.preWrap { white-space: pre-wrap; }

.miniMarge { margin-bottom: 4px!important; }
.gapMarge { margin-bottom: 8px!important; }
.bigGapMarge { margin-bottom: 16px!important; }
.smallTitleMarge { margin-bottom: 20px!important; }
.titleMarge { margin-bottom: 32px!important; }
.mediumMarge { margin-bottom: 40px!important; }
.largeMarge { margin-bottom: 60px!important; }
.hugeMarge { margin-bottom: 100px!important; }

.neutralText { color: var(--color-neutral); }
.darkerText { color: var(--color-darker); }

.smallOpaCenterText {
    text-align: center;
    opacity: 0.8;
    font-size: var(--font-size-small);
}

section.pageTopContent {
	text-align: center;
	padding-top: 64px;
	padding-bottom: 0px!important;
	margin-bottom: 0px;
	display: flex;
	flex-direction: column;
}