.fade-up-down-active, .fade-up-down-leave-active,
.fade-enter-active, .fade-leave-active { transition: opacity .15s; }
.fade-enter, .fade-leave-to { opacity: 0; }

.fade-up-down-enter, .fade-up-down-leave-to {
	transform: translateY(32px);
	opacity: 0;
}